* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #fff;
  color: #3d3a35;
  font-family: Helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #382F2D;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

/***************************** Header ********************************/
header {
  background-color: rgb(29, 29, 29);
  background-image: url("img/brick-wall.jpg");
  background-size: cover;
  background-position: center;
  height: 290px;
  text-align: center;
  overflow: hidden;
}

.main-name {
  position: relative;
  top: 60px;
  color: #fff;
}

header nav {
  background: rgba(237, 224, 208, 0.63);
  height: 60px;
  padding: 5px;
  margin: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

header nav .buttons {
  height: 60px;
}

nav .logo {
  background-image: url("img/coffeelogo.png");
  background-size: 50px;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  float: left;
}

nav .nav-toggle-btn {
  width: 50px;
  height: 50px;
  margin: 5px;
  ;
  background-image: url("img/menubars.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  cursor: pointer;
  float: right;
}

nav ul {
  margin: 5px 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  visibility: hidden;
  overflow: hidden;
}

nav ul li {
  margin: 2px 0;
  line-height: 52px;
  opacity: 0;
  transition: all 0.5s ease 0.1s;
  /* background: rgba(237, 224, 208, 0.73); */
}

nav ul li:first-child {
  transition-delay: ;
}

nav ul li:nth-child(2) {
  transition-delay: 0.15s;
}

nav ul li:nth-child(3) {
  transition-delay: 0.2s;
}

nav ul li:last-child {
  transition-delay: 0.25s;
}

nav ul li a {
  font-weight: 600;
}

/************************* FEATURES ***************************/
.features {
  background: white;
  padding: 25px;
}

.features h2 {
  color: #3d3a35;
  display: block;
}

.header-item {
  margin: 20px 0;
  align-items: center;
}

.headertext {
  margin-top: 20px;
}

.headertext p {
  margin-top: 10px;
  line-height: 25px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.menu-items h2 {
  margin-bottom: 10px;
}

.menu-items figure {
  margin: 25px auto;
}

.menu-items figure img {
  box-shadow: gray 0 0 3px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.menu-items figure figcaption {
  width: 90%;
  margin: auto;
  line-height: 25px;
  font-size: 18px;
}

figure img, div img {
  width: 100%;
  height: auto;
}

/*************************** Nutrition ************************* */
.features h2 {
  margin: 5px 0 25px 0;
}

.nutrition-text p {
  margin: 20px;
  font-size: 15px;
  line-height: 20px;
}

/* PICTURE GALLERY */
.drinks, .food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  width: 45%;
  margin-bottom: 20px;
}

.grid-item img {
  height: 140px;
  margin: 10px 0;
  box-shadow: gray 0 0 3px;
}

/****************** PICTURE SECTION  **************************/
.section2 {
  height: 300px;
  width: 100%;
  background-image: url('img/coffee-beans-2.jpg');
  background-size: 100% auto;
  background-position: center;
}

.section2 div {
  background: rgba(237, 224, 208, 0.6);
  padding: 5px;
  width: 60%;
  position: relative;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  text-align: center;
  color: #111;
  font-style: italic;
  font-size: 30px;
  line-height: 30px;
}

/***************************** FOOTER *************************/
footer {
  background: #f7f7f7;
  border-bottom: 8px solid #382F2D;
  font-size: 13px;
  color: #382F2D;
}

.footer-top {
  background: #f0f0f0;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}

.social-icons {
  font-size: 60px;
  padding-top: 10px;
  text-align: center;
}

.social-icons ul li {
  display: inline-block;
  width: 55px;
}

.social-icons hr {
  width: 80%;
  text-align: center;
  margin: 10px auto;
}

.fa {
  color: #382F2D;
}

.contact-form {
  padding: 15px 0 20px 20px;
}

.contact-form ul {
  padding-top: 10px;
}

.contact-form ul li {
  padding-bottom: 5px;
}

.contact-form input {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.newsletter-signup-email input {
  width: 60%;
}

.newsletter-signup-zipcode input {
  width: 20%;
}

.contact-form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #222;
  color: #fff;
}

.footer-main {
  background: #f0f0f0;
  border-bottom: 3px solid #fff;
}

.info-block {
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
  height: 40px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  /* height: 160px; */
}

.info-block h3 {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.info-block h3 button {
  float: right;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.info-block ul {
  visibility: hidden;
  margin-left: 10px;
  margin-bottom: 20px;
}

.quicklinks {
  height: 170px;
}

.quicklinks ul {
  visibility: visible;
}

.info-block ul li {
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
}

.info-block ul li a {
  text-transform: capitalize;
}

.footer-bottom {
  background: #f0f0f0;
}

.footer-bottom p {
  padding: 15px;
  text-align: center;
}

/*********************** RESPONSIVE RULES *********************/
@media screen and (min-width: 650px) {
  .menu-items figure {
    width: 300px
  }
}

@media screen and (min-width: 768px) {
  .nav-toggle-btn {
    visibility: hidden;
  }

  .buttons {
    display: inline;
  }

  nav ul {
    visibility: visible;
    width: auto;
    display: flex;
    justify-content: center;
  }

  nav ul li {
    opacity: 1;
    margin: 0 30px;
  }

  .header-item {
    display: flex;
  }

  .headertext {
    margin-top: 0px;
  }

  .header-img {
    flex: 1;
  }

  .headertext {
    margin-left: 20px;
    flex: 1.5;
  }

  .menu-items figure {
    width: 30%;
    margin: 25px 0;
  }

  .menu-items figure img {
    height: 150px;
  }

  .nutrition-main {
    display: flex;
    align-items: center;
  }

  .grid-item {
    width: 30%;
  }

  .grid-item img {
    height: 160px;
  }

  .footer-top {
    display: flex;
  }

  .social-icons {
    margin-top: 50px;
    border-bottom: 1px solid #fff;
    flex: 1;
  }

  .social-icons hr {
    visibility: hidden;
  }

  .contact-form {
    flex: 2;
    border-bottom: 1px solid #fff;
  }

  .footer-main {
    display: flex;
    justify-content: center;
  }

  .info-block {
    height: 180px;
    overflow: visible;
    border-bottom: 0;
  }

  .info-block h3 button {
    visibility: hidden;
  }

  .info-block ul {
    visibility: visible;
  }
}

@media screen and (min-width: 1000px) {
  .features {
    width: 80%;
    margin: 0 auto;
  }

  .header-img {
    flex: 0.7;
  }

  .header-img img {
    width: 400px;
    height: 250px;
  }

  .menu-items figure img {
    height: 200px;
  }

  .grid-item img {
    height: 250px;
  }

  .grid-item {
    width: 30%;
  }
}
